<h1 style="color: darkblue;">Registration Form</h1>
<form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

        <p>
            <mat-form-field appearance="fill" >
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
              <span *ngIf="name?.errors?.['required']">
                Name is required </span>
                <span *ngIf="name?.errors?.['minlength']">
                  name must be at least 3 characters long
                </span>
              <mat-hint>Name</mat-hint>
            </mat-form-field>


            <mat-form-field appearance="fill" style="position: relative;left: 100px;">
              <mat-label>phone number</mat-label>
              <input matInput placeholder="phoneNo" formControlName="phoneNo">
              <span *ngIf="phoneNo?.errors?.['required']">
                phone number is required
              </span>
              <span *ngIf="phoneNo?.errors?.['pattern']">
                Phone Number should start with 7,8,9
              </span>
              <span *ngIf="phoneNo?.errors?.['minlength']">
                PhoneNo must be at least 10 characters long
              </span>

              <mat-hint>phone</mat-hint>
            </mat-form-field>
          </p>

        <mat-form-field class="example-full-width" style="width: 530px;">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <span *ngIf="email?.errors?.['required']">Email required</span>
          <span *ngIf="email?.errors?.['pattern']">
           Email should have '@' and should be ending with '.com'
          </span>


        </mat-form-field>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <span *ngIf="password?.invalid && password?.touched">
            <span *ngIf="password?.errors?.['required']">
              Password is required
            </span>
            <span *ngIf="password?.errors?.['minlength']">
              Password must be at least 8 characters long
            </span>
            <span *ngIf="password?.errors?.['pattern']">
              Password must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number and special characters
            </span>


          </span>

          <mat-hint>pass word</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" style="position: relative;left: 100px;">
          <mat-label>userid</mat-label>
          <input matInput placeholder="USERID" type="text" formControlName="userId">

          <span *ngIf="userId?.invalid && userId?.touched">
            <span *ngIf="userId?.errors?.['required']">
              UserId is required</span>
              <span *ngIf="userId?.errors?.['minlength']">
                userId must be at least 3 characters long
              </span>
            </span>





          <mat-hint>userid</mat-hint>
        </mat-form-field>
      </p>


      <button mat-raised-button color="primary"   type="submit">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



      <!-- (click)=" saveEmployee()" (click)="register()" (click)="openSnack()" -->
