<!--
<div class="container">
  <h2 class="text-center mb-4">Add to Playlist</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Playlist ID</th>

        <th>Track Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let playlist of tracks">

        <td>{{ playlist.playlistId }}</td>

        <td >

          <ul class="list-unstyled">

            <li *ngFor="let track of playlist.tracks">
              <div class="row align-items-center">
                <div class="col">{{track.trackId}}</div>
                <div class="col">{{track.trackName}}</div>
                <div class="col">{{track.duration}}</div>
                <div class="col">{{track.artistName}}</div>
              </div>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


  <!-- <span style="text-align: center;">
      <button mat-stroked-button color="primary" (click)="event()">View Songs</button>

  </span>
  <div *ngFor="let playlist of tracks">
      <h1 style="font-weight: bolder;">{{playlist.playlistId}} </h1>

      <span *ngIf="isClicked">
      <p *ngFor="let song of playlist.tracks">
        {{song.trackId}}  {{song.trackName}} {{song.artistName}}  {{song.duration}}

      </p>
    </span>

  </div> -->


  <div style="display: flex; flex-direction: column; align-items: center;">
    <span style="margin-bottom: 20px;">
      <button class="my-button" (click)="event()">View Songs</button>

    </span>
    <div *ngFor="let playlist of tracks" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 10px; width: 70%; text-align: center;">
      <h1 style="margin: 0; font-weight: bolder;">{{playlist.playlistId}}</h1>
      <span *ngIf="isClicked">
        <table>
          <thead>
            <tr>
              <th>Song ID</th>
              <th>Song Name</th>
              <th>Artist</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of playlist.tracks">
              <td>{{ song.trackId }}</td>
              <td>{{ song.trackName }}</td>
              <td>{{ song.artistName }}</td>
              <td>{{ song.duration }}</td>
              <!-- <button (click)="playSong()" class="btn btn-primary">
                <i *ngIf="!audioObj || audioObj.paused" class="fa fa-play"></i>
                <i *ngIf="audioObj && !audioObj.paused" class="fa fa-pause"></i>
              </button> -->
            </tr>
          </tbody>
        </table>
      </span>

    </div>
  </div>







