<div>

<app-music *ngFor="let eachproduct of musics" [musicone]="eachproduct"></app-music>

</div>



<!-- <button (click)="playSong()">{{ audioObj && !audioObj.paused ? 'Pause' : 'Play' }}</button> -->
<!-- <div>
<button (click)="playSong()">

  <span *ngIf="audioObj && audioObj.paused"  class="bi bi-play"></span>
  <span *ngIf="audioObj && !audioObj.paused" class="bi bi-pause"></span>
</button>
</div> -->

<!-- <button (click)="playSong()">{{ audioObj && !audioObj.paused ? 'Pause' : 'Play' }}</button> -->
<!-- <div class="progress">
  <div class="progress-bar" [style.width]="progress"></div>
</div> -->









