<!-- <button (click)="playSong()">{{ audioObj && !audioObj.paused ? 'Pause' : 'Play' }}</button>
<div class="progress">
  <div class="progress-bar" [style.width]="progress" style="width:100%;"></div>
</div> -->
<!-- <div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
</div> -->



<div>

<div *ngIf="musics?.trackList">
  <h1>Song Name :{{ musics.trackList?.trackName }}</h1>
  <h3>Track ID: {{ musics.trackList?.trackId }}</h3>
  <p>Artist Name :{{musics.trackList?.artistName}}</p>
  <p>Duration :{{musics.trackList?.duration}}</p>

  <button (click)="playSong()" class="btn btn-primary">
    <i *ngIf="!audioObj || audioObj.paused" class="fa fa-play"></i>
    <i *ngIf="audioObj && !audioObj.paused" class="fa fa-pause"></i>
  </button>
  <button mat-button class="btn-btn" (click)="addto()" style="background-color: violet; color: white; font-weight: bold;">Add to Playlist</button>


  <div class="progress mt-3" (click)="skipToPosition($event)">
    <div class="progress-bar" role="progressbar" [style.width]="progress"
      [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
    </div>

  </div>
</div>


</div>









