<div>

<div *ngIf="emp.musicPath">
  <h1>Song Name :{{ emp.trackName }}</h1>
  <h3>Track ID: {{ emp.trackId }}</h3>
  <p>Artist Name :{{emp.artistName}}</p>
  <p>Duration :{{emp.duration}}</p>

  <button (click)="playSong()" class="btn btn-primary">
    <i *ngIf="!audioObj || audioObj.paused" class="fa fa-play"></i>
    <i *ngIf="audioObj && !audioObj.paused" class="fa fa-pause"></i>
  </button>
  <button mat-button class="btn-btn" (click)="onClick()" style="background-color: violet; color: white; font-weight: bold;">Add to Playlist</button>
           <span *ngIf="isClicked" class="playlist-form">
            <div class="playlist-form">
              <mat-form-field class="example-full-width" style="width: 100%;">
                <mat-label>playlist ID</mat-label>
                <input matInput type="text" [(ngModel)]="playlistId">
              </mat-form-field>
              <button mat-button class="btn-btn" (click)="addSong()" style="background-color: rgb(78, 195, 219); color: white; font-weight: bold;">Add Song</button>
            </div>
    </span>

  <div class="progress mt-3" (click)="skipToPosition($event)">
    <div class="progress-bar" role="progressbar" [style.width]="progress"
      [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
    </div>

  </div>
</div>


</div>











